@font-face {
    font-family: 'Bree';
    src: url("../fonts/BreeSerif-Regular.otf");
}


* {
    --contraste: #FFC200;
    --medium: #68779B;
    --light: #FFF5D7;
    --dark: #334678;
    box-sizing: border-box;
    font-family: 'Bree', Verdana;
}

strong {
    font-weight: bold;
}

html, body {
    margin: 0;
    position: relative;
}

body {
    padding-top: 100px;
}

    body.stickyHeader {
        padding-top: 50px;
    }

        body.stickyHeader header {
            height: 60px;
            background-color: var(--medium);
        }

            body.stickyHeader header .topHeader {
                -moz-transform: scale(0, 0);
                -ms-transform: scale(0, 0);
                -webkit-transform: scale(0, 0);
                transform: scale(0, 0);
            }

/*
    HEADERS
*/

header {
    width: 100%;
    height: 800px;
    z-index: 10;
    color: white;
    background-color: var(--medium);
    text-align: center;
    position: relative;
    position: fixed;
    top: 0;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    header .topHeader {
        display: flex;
        height: auto;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 1.2em;
        margin: 20px;
        overflow: hidden;
        font-weight: 100;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

        header .topHeader p:last-child {
            align-self: center;
            justify-self: flex-end;
        }

        header .topHeader p {
            margin: 20px;
        }

        header .topHeader span {
            color: var(--contraste);
            font-size: 1.5em;
        }

    header .miniHeader {
        position: absolute;
        font-size: 1em;
        bottom: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        max-height: 100px;
        height: 60px;
        padding: 10px 50px 10px 50px;
        width: 100%;
        background-color: var(--medium);
        box-shadow: 10px 10px 10px var(--dark);
    }

        header .miniHeader div {
            padding: 10px;
        }

        header .miniHeader .reseaux {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

            header .miniHeader .reseaux a {
                margin: 10px;
            }

            header .miniHeader .reseaux img {
                height: 40px;
                width: auto;
                transition: all 0.3s ease-in-out;
            }

                header .miniHeader .reseaux img:hover {
                    transform: rotate(25deg);
                }

/*
    BARRE DE MENU
*/

.main {
    position: absolute;
    top: 150px;
    width: 100%;
}

nav {
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0;
    font-size: 0.8em;
    font-weight: bold;
    background-color: var(--contraste);
    width: 130px;
    height: 100%;
    display: flex;
    padding: 50px 0px;
    flex-flow: column nowrap;
    text-align: center;
    align-content: center;
    justify-content: space-evenly;
}

    nav a {
        margin: -100px 0;
        font-size: 1.3em;
        color: white;
        text-decoration: none;
    }

        nav a:focus, a:hover, a.active {
            color: var(--dark);
            font-weight: bold;
        }


#photo img {
    width: 200px;
    border-radius: 50%;
    margin: 10px;
}

/*
    PARTIE MOBILE
*/

.pageMobile {
    width: auto;
    padding: 20px 50px 50px 150px;
}

section h1 {
    color: var(--dark);
    border-bottom: 3px dashed;
    border-color: var(--contraste);
    margin-bottom: 20px;
}

/*
    SECTION CREATION
*/

#creation article {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.mySlides1, .mySlides2 {
    display: none
}

/* Mise en forme des différents carroussels */
.slideshowContainer {
    max-width: 1000px;
    position: relative;
    margin: auto;
    background: var(--light);
    width: 45%;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 5px 5px 5px var(--medium);
}

    .slideshowContainer div ~ div {
        margin: 20px 50px;
    }

    .slideshowContainer img {
        width: 100%;
        vertical-align: middle;
        border-radius: 5px;
        filter: opacity(0.3);
        transition: all 0.3s ease-in-out;
    }

        .slideshowContainer img:hover {
            filter: none;
        }

/* Les liens Next et Previous */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--dark);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position du boutton Next à droite */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    .prev:hover, .next:hover {
        background-color: var(--contraste);
        color: var(--dark);
    }

/*
    SECTION PARCOURS
*/
#parcours article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.timeline {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

    .timeline button {
        background: none;
        font-weight: bold;
        font-size: 2em;
        color: var(--dark);
        cursor: pointer;
        padding: 18px;
        border: none;
        outline: none;
        transition: 0.4s;
    }

    .timeline .timelineBefore img {
        transform: scaleX(-1);
    }

    .timeline ul {
        list-style-type: none;
        display: flex;
        padding: 0;
        margin-left: 5px;
        margin-right: 5px;
    }

        .timeline ul li {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
        }

.mission {
    cursor: pointer;
}

.missionDescription {
    margin: 0px 40px 20px 40px;
    align-items: center;
    text-align: center;
    color: var(--medium);
}

    .missionDescription.active {
        color: var(--dark);
    }

.date {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-top: 2px solid var(--light);
    position: relative;
    color: var(--dark);
    color: var(--medium);
}

    .date.active {
        color: var(--dark);
        font-weight: bold;
    }

    .date:before {
        content: '';
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid var(--light);
        position: absolute;
        top: -15px;
        transition: all 200ms ease-in;
        background-color: var(--light);
        box-shadow: 5px 5px 5px var(--medium);
    }

.mission.complete .date {
    border-top: 2px solid var(--contraste);
}

    .mission.complete .date:before {
        background-color: var(--contraste);
        border: none;
    }

.textePanelHistogramme {
    background-color: var(--light);
    color: var(--dark);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    display: none;
    box-shadow: 5px 5px 5px var(--medium);
}

    .textePanelHistogramme li {
        margin-left: 50px;
        padding: 10px;
        list-style-type: square;
    }
/*
    SECTION FORMATIONS
*/
#formations article {
    display: flex;
    justify-content: space-between
}

.titreFormation {
    display: flex;
    align-content: flex-start;
    align-items: center;
}

.boutonFormation {
    background: none;
    font-weight: bold;
    color: var(--dark);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.arrow {
    transform: rotate(0deg);
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.arrowActive {
    transform: rotate(90deg);
    transition: all .5s ease-in-out;
}

.panelAccordeon li {
    list-style-type: none;
}

.panelAccordeon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    color: var(--dark);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

    .panelAccordeon ul ~ ul {
        margin: 20px;
        padding: 5px;
        border-left: 1px dashed var(--dark);
    }


.imagesFormation {
    height: auto;
    width: 400px;
    display: none;
    border-radius: 10px;
}

/*
    CONTACT
*/

#contact article {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

    #contact article img {
        max-width: 50%;
        border-radius: 10px;
    }

form {
    width: 75%;
    color: var(--dark);
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
}

    form .inputContainer {
        display: flex;
        flex-flow: column nowrap;
        max-width: 60%;
    }

.inputContainer {
    position: relative;
    margin-bottom: 30px;
}

    .inputContainer label {
        position: absolute;
        top: 0px;
        left: 0px;
        font-size: 1em;
        color: var(--dark);
        transition: all 0.5s ease-in-out;
    }

    .inputContainer input, textarea {
        border: 0;
        border-bottom: 1px solid var(--dark);
        padding: 8px 0 5px 0;
        font-size: 1em;
        color: var(--dark);
    }

        .inputContainer input:focus, textarea:focus {
            border: none;
            outline: none;
            border-bottom: 1px solid var(--contraste);
        }

            .inputContainer input:focus ~ label,
            .inputContainer input:valid ~ label,
            .inputContainer textarea:focus ~ label,
            .inputContainer textarea:valid ~ label {
                top: -12px;
                font-size: 0.8em;
            }

form .bouttonForm input {
    color: var(--light);
    background-color: var(--medium);
    outline: none;
    border: 0;
    color: white;
    padding: 10px 20px;
    margin: 0 20px;
    text-transform: uppercase;
    margin-top: 50px;
    border-radius: 2px;
    cursor: pointer;
}

    form .bouttonForm input:focus {
        border: 1.2px solid var(--dark);
    }
/*
    FOOTER
*/
footer {
    background-color: var(--light);
    font-size: 0.8em;
    padding: 10px 20% 10px 20%;
    text-align: center;
    color: var(--dark);
    width: 100%;
}

    footer .wink {
        font-style: italic;
        border-top: 2px dotted var(--dark);
        padding: 10px 0px;
        border-bottom: 2px dotted var(--dark);
    }

@media only screen and (max-width: 900px) {

    body {
        padding-top: 0;
        display: inline-block;
    }

        body.stickyHeader {
            padding-top: 0px;
        }

            body.stickyHeader header {
                height: auto;
                background-color: var(--medium);
            }

    nav {
        display: none;
    }

    header {
        position: relative;
        height: auto;
    }

        header .topHeader {
            margin: 0 20px;
        }
        header .miniHeader {
            position: relative;
        }
            .main {
        position: relative;
        width: 100%;
        top: 0;
    }

    .pageMobile {
        padding: 20px;
        width: 100%;
    }
}
