
* {
    --orange: #F7C024;
    --bleu: #12CDD4;
    --gris-clair: #E2E4E4;
    --gris-foncé: #5E5E5E;
    box-sizing: border-box
}

html, body {
    margin: 0;
}

strong {
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: row;
}

/*
    BARRE DE MENU
*/

nav {
    z-index: 1;
    background-color: var(--bleu);
    width: 230px;
    height: 100%;
    align-items: center;
    position: fixed;
}

    nav li {
        list-style-type: none;
        padding: 10px;
    }

    nav a {
        font-size: 1.3em;
        color: white;
        padding-bottom: 3px;
        text-decoration: none;
    }

        nav a:focus {
            color: var(--orange);
            font-weight: bold;
        }


#photo img {
    width: 200px;
    border-radius: 50%;
    margin: 10px;
}

/*
    PARTIE MOBILE
*/

.main {
    flex-grow: 2;
    margin-left: 230px;
}

.pageMobile {
    padding: 20px 50px 200px 20px;
}

/*
    HEADERS
*/

header {
    background-color: var(--orange);
    padding: 10px;
    padding-left: 50px;
}

    header h1 {
        color: white;
        font-size: 2em;
    }

    header p {
        color: var(--gris-foncé);
        font-size: 1.3em;
    }

    header img {
        height: 70px;
        width: 70px;
        padding: 10px;
        transition: all 0.3s ease-in-out;
    }

        header img:hover {
            transform: rotate(25deg);
        }


section h1 {
    color: var(--orange);
    border-bottom: 3px dashed;
    border-color: var(--orange);
}
/*
    SECTION PARCOURS
*/
#parcours article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.timeline {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

    .timeline button {
        background: none;
        font-weight: bold;
        font-size: 2em;
        color: var(--gris-foncé);
        cursor: pointer;
        padding: 18px;
        border: none;
        outline: none;
        transition: 0.4s;
    }

    .timeline .timelineBefore img {
        transform: scaleX(-1);
    }

    .timeline ul {
        list-style-type: none;
        display: flex;
        margin-left: -25px;
        margin-right: 5px;
    }
    .timeline ul li {
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        position: relative;
    }
.mission{
    cursor: pointer;
}
.missionDescription{
    margin: 0px 40px 20px 40px;
    align-items: center;
    text-align: center;
    color: var(--gris-foncé);
}

    .missionDescription.active {
        color: var(--gris-foncé);
        font-weight: bold;
    }

.date {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-top: 2px solid var(--gris-clair);
    position: relative;
    color: var(--gris-foncé);
}

    .date:before {
        content: '';
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid var(--gris-clair);
        position: absolute;
        top: -15px;
        transition: all 200ms ease-in;
    }

.mission.complete .date {
    border-top: 2px solid var(--orange);
}

    .mission.complete .date:before {
        background-color: var(--orange);
        border: none;
    }

.textePanelHistogramme {
    background-color: var(--gris-clair);
    color: var(--gris-foncé);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    display: none;
}

    .textePanelHistogramme li {
        margin-left: 50px;
        padding: 10px;
        list-style-type: square;
    }
/*
    SECTION FORMATIONS
*/
#formations article {
    display: flex;
    justify-content: space-between
}

.titreFormation {
    display: flex;
    align-content: flex-start;
    align-items: center;
}

.boutonFormation {
    background: none;
    font-weight: bold;
    color: var(--gris-foncé);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.arrow {
    transform: rotate(0deg);
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.arrowActive {
    transform: rotate(90deg);
    transition: all .5s ease-in-out;
}

.panelAccordeon li {
    list-style-type: none;
}

.panelAccordeon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    color: var(--gris-foncé);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


.imagesFormation {
    height: auto;
    width: 400px;
    display: none;
    border-radius: 10px;
}
