@font-face {
    font-family: 'QuickSand';
    src: url("../fonts/Quicksand-Regular.otf");

}

@font-face {
    font-family: "FFF";
    src: "../fonts/FFF_Tusj.ttf";
}

@font-face {
    font-family: "QuickSandBold";
    src: "../fonts/Quicksand-Bold.otf";
}



* {
    --contraste: #FFC200;
    --medium: #68779B;
    --light: #FFF5D7;
    --dark: black;
    box-sizing: border-box;
    font-family: QuickSand, Verdana;
}

strong {
    font-weight: bold;
}

html, body {
    margin: 0;
    position: relative;
}


    body.stickyHeader {
        padding-top: 50px;
    }

        body.stickyHeader header {
            height: 60px;
        }

            body.stickyHeader header .topHeader {
                -moz-transform: scale(0, 0);
                -ms-transform: scale(0, 0);
                -webkit-transform: scale(0, 0);
                transform: scale(0, 0);
            }

/*
    HEADERS
*/

        header, header .miniHeader, nav, body.stickyHeader header {
            background: url("../img/background.jpg");
            background-repeat: no-repeat;
            background-size: auto;
        }

header {
    width: 100%;
    height: 800px;
    z-index: 10;
    color: white;

    text-align: center;
    position: relative;
    position: fixed;
    top: 0;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    header .topHeader {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        font-size: 1.5em;
        padding: 20px;
        overflow: hidden;
        font-weight: 100;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

        header .topHeader h1 {
            padding: 10px 20px 20px 20px;
        }


        header .topHeader p {
            margin: 20px;
        }

            header .topHeader p:nth-child(2) {
                align-self: flex-start;
                text-align: left;
                margin: 0 0 80px 0;
            }

            header .topHeader p:nth-child(1n+3) {
                align-self: flex-start;
                margin: 0 0 0 40px;
                font-weight: bold;
            }

        header .topHeader span {
            color: var(--contraste);
            font-size: 1.5em;
        }

    header .miniHeader {
        position: absolute;
        font-size: 1em;
        font-weight: bold;
        bottom: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        max-height: 100px;
        height: 60px;
        padding: 10px 50px 10px 50px;
        width: 100%;
        box-shadow: 10px 10px 10px black;
    }

        header .miniHeader div {
            padding: 10px;
        }

        header .miniHeader p {
            color: var(--contraste);
        }

            header .miniHeader p span {
                color: white;
            }

        header .miniHeader h1 {
            font-size: 25px;
        }

        header .miniHeader #age {
            font-size: 0.7em;
        }

        header .miniHeader .reseaux {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

            header .miniHeader .reseaux a {
                margin: 10px;
            }

            header .miniHeader .reseaux img {
                height: 40px;
                width: auto;
                transition: all 0.3s ease-in-out;
            }

                header .miniHeader .reseaux img:hover {
                    transform: rotate(25deg);
                }

.topHeaderMobile {
    display: none;
}

/*
    BARRE DE MENU
*/

.main {
    position: absolute;
    top: 150px;
    width: 100%;
    background-color: lightgray;
}

nav {
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0;
    font-size: 0.8em;
    font-weight: bold;
    width: 130px;
    height: 100%;
    display: flex;
    padding: 50px 0px;
    flex-flow: column nowrap;
    text-align: center;
    align-content: center;
    justify-content: space-evenly;
}

    nav a {
        margin: -100px 0;
        font-size: 1.3em;
        color: white;
        text-decoration: none;
    }

        nav a:focus, a:hover, a.active {
            color: var(--contraste);
            font-weight: bold;
        }


#photo img {
    width: 200px;
    border-radius: 50%;
    margin: 10px;
}

/*
    PARTIE MOBILE
*/

.pageMobile {
    width: auto;
    margin-left: 130px;
    margin-top: 0px;

}

section h1 {
    text-align: left;
    font-weight: bold;
    font-size: 2em;
    color: white;
    padding: 70px 0 30px 30px;
    margin: 0px 0 0px 0;
    font-family: QuickSandBold, Verdana;
}

section article{
    padding: 30px 20px 100px 20px;
}

/*
    SECTION CREATION
*/
#creation {
    background: url("../img/creation.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}
#creation article {
    display: flex;
    justify-content: space-evenly;
}

/* Mise en forme des différents carroussels */
.slideshowContainer {
    max-width: 1000px;
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    margin: auto;
    width: 1000px;
    height: auto;
    border-radius: 30px;
    margin: 10px;
    box-shadow: 5px 5px 5px black;
}

    .slideshowContainer .slide {
        margin: 20px 50px;
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

    }

    .slideshowContainer .slide h1 {
        position: absolute;
        top: 20px;
        font-size: 2vw;
        color: white;
        font-weight: bold;
        padding: 0px;
        text-shadow: 5px 5px 10px black;

    }

    .slideshowContainer .slide div{
        margin: 20px 50px;
        display: flex;
        flex-flow: column wrap;
        font-size: 1.5vw;
    } 
        
.slideshowContainer img {
    position: absolute;
    overflow: hidden;
    height: 50px;
    width: auto,
}

/* Les liens Next et Previous */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--dark);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position du boutton Next à droite */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    .prev:hover, .next:hover {
        background-color: var(--contraste);
        color: var(--dark);
    }

/*
    SECTION PARCOURS
*/
#parcours{
    background: url("../img/parcours.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}
    #parcours article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.timeline {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

    .timeline button {
        background: none;
        cursor: pointer;
        padding: 18px;
        border: none;
        border-radius: 10px;
        outline: none;
        transition: 0.4s;
    }

        .timeline button:hover, .mission:hover .date:before {
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }

    .timeline .timelineBefore img {
        transform: scaleX(-1);
    }

    .timeline ul {
        list-style-type: none;
        display: flex;
        padding: 0;
        margin-left: 5px;
        margin-right: 5px;
    }

        .timeline ul li {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
        }

.mission {
    cursor: pointer;
    font-size: 1.2vw;
}

.missionDescription {
    margin: 0px 40px 20px 40px;
    align-items: center;
    text-align: center;
    color: white;
}

.date {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-top: 2px solid white;
    position: relative;
    color: white;
}

    .date.active, .missionDescription.active {
        font-weight: bold;
        color: var(--contraste);
    }

    .date:before {
        content: '';
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid white;
        position: absolute;
        top: -15px;
        transition: all 200ms ease-in;
        background-color: white;
        box-shadow: 5px 5px 5px black;
        
    }

  .mission.complete .date {
    border-top: 2px solid var(--contraste);
}

    .mission.complete .date:before {
        background-color: var(--contraste);
        border: none;
    }

.textePanelHistogramme {
    background: rgba(255, 255, 255, 0.8);
    color: var(--dark);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    display: none;
    box-shadow: 5px 5px 5px black;
}

    .textePanelHistogramme li {
        margin-left: 50px;
        padding: 10px;
        list-style-type: square;
    }
/*
    SECTION FORMATIONS
*/
#formations{
    background: white;
}

#formations h1 {
    color: var(--contraste);
}

#formations article {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2vw;
}

.titreFormation {
    display: flex;
    align-content: flex-start;
    align-items: center;
}

.boutonFormation {
    background: none;
    font-size: 1.2vw;
    font-weight: bold;
    color: var(--dark);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

    .boutonFormation:hover {
        transform: scale(1.02);
        transition: all 0.3s ease;
    }

.arrow {
    transform: rotate(0deg);
    cursor: pointer;
    height: 20px;
    width: 20px;
    transition: all .5s ease-in-out;
}

.arrowActive {
    transform: rotate(90deg);

}

.panelAccordeon li {
    list-style-type: none;
}

.panelAccordeon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    color: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

    .panelAccordeon ul ~ ul {
        margin: 20px;
        padding: 5px;
        border-left: 1px dashed var(--dark);
    }


.imagesFormation {
    height: auto;
    width: 450px;
    display: none;
    border-radius: 10px;
    margin : 20px 40px 0 20px;
}

/*
    CONTACT
*/

#contact {
    background: url("../img/chat.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

#contact h1{
    color: black;
}

    #contact article {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 0 40px;
}

    #contact article img {
        max-width: 50%;
        border-radius: 10px;
    }

form {
    width: 75%;
    color: black;
    flex-grow: 2;
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
}

    form .inputContainer {
        display: flex;
        flex-flow: column nowrap;
        max-width: 60%;
    }

.inputContainer {
    position: relative;
    margin-bottom: 30px;
}

    .inputContainer label {
        position: absolute;
        top: 0px;
        left: 0px;
        font-size: 1em;
        color: var(--dark);
        transition: all 0.5s ease-in-out;
    }

    .inputContainer input, textarea {
        border: 0;
        border-bottom: 1px solid var(--dark);
        padding: 8px 0 5px 0;
        font-size: 1em;
        background:rgba(255, 255, 255, 0.6);
        color: var(--dark);
    }

        .inputContainer input:focus, textarea:focus {
            border: none;
            outline: none;
            border-bottom: 1px solid var(--contraste);
        }

            .inputContainer input:focus ~ label,
            .inputContainer input:valid ~ label,
            .inputContainer textarea:focus ~ label,
            .inputContainer textarea:valid ~ label {
                top: -12px;
                font-size: 0.8em;
            }

form .bouttonForm input {
    color: white;
    background-color: var(--contraste);
    outline: none;
    border: 0;
    color: white;
    padding: 10px 20px;
    margin: 0 20px;
    text-transform: uppercase;
    margin-top: 50px;
    border-radius: 5px;
    cursor: pointer;
}

    form .bouttonForm input:focus {
        border: 1.2px solid black;
    }

#contact .auRevoir {
    background: white;
    font-weight: bold;
    font-size: 1.5vw;
    flex-grow: 1;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    max-width: 500px;
    padding: 40px;
    text-align: center;
}
    #contact .auRevoir ul, .auRevoir p:nth-child(2) {
        text-align: left;
        font-weight: normal;
    }
/*
    FOOTER
*/
footer {
    background-color: var(--light);
    font-size: 0.8em;
    padding: 10px 20% 10px 20%;
    text-align: center;
    color: var(--dark);
    width: 100%;
}

    footer .wink {
        font-style: italic;
        border-top: 2px dotted var(--dark);
        padding: 10px 0px;
        border-bottom: 2px dotted var(--dark);
    }

@media only screen and (max-width: 900px) {

    body {
        padding-top: 0;
        display: inline-block;
    }

        body.stickyHeader {
            padding-top: 0px;
        }

            body.stickyHeader header {
                height: auto;
                background-color: var(--medium);
            }

    nav {
        display: none;
    }

    header {
        height: auto;
    }

        header .topHeader {
            display: none;
        }

        header .miniHeader {
            position: absolute;
            top: 0;
        }

            header .miniHeader h1 {
                font-size: 20px;
            }

    .main {
        position: relative;
        width: 100%;
        top: 0;
    }


        .main .topHeaderMobile {
            background: url("../img/background.jpg");
            background-repeat: no-repeat;
            background-size: auto;
            color: white;
            display: flex;
            height: auto;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            font-size: 1.2em;
            padding: 100px 20px 80px 20px;
            overflow: hidden;
            font-weight: 100;
        }

            .main .topHeaderMobile h1 {
                padding: 10px 20px 20px 20px;
            }


            .main .topHeaderMobile p {
                margin: 20px;
            }

                .main .topHeaderMobile p:nth-child(2) {
                    align-self: flex-start;
                    text-align: left;
                    margin: 0 0 80px 0;
                }

                .main .topHeaderMobile p:nth-child(1n+3) {
                    align-self: flex-start;
                    margin: 0 0 0 40px;
                    font-weight: bold;
                }

            .main .topHeaderMobile span {
                color: var(--contraste);
                font-size: 1.5em;
            }


    .pageMobile {
        margin-left: 0;
    }
}
